{% extends "base.html" %}

{% block title %}Post a Job{% endblock %}
{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}
{% block content %}
    <form action="/jobposting/postajob/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
            <div class="col-md-4">
                <label for="{{ form.title }}">Title</label>
            </div>
        </div>
        <br />
        <hr />
        <input type="button" id="btnAddScreener" name="btnAddScreener" value="Add Screener Question" />
        <br />
        <input type="submit" id="submit" name="submit" value="Post" />
    </form>
{% endblock %}
{% block body_scripts %}{% endblock %}